body{
     font-size:14px;
     width:100%;
}
/*消息弹框*/
.messagebox{
	width:76%;
	height:100px;
	position:fixed;
	margin:auto;
	top:0;left:0;
	right:0;bottom:0;
	z-index:1000;
    background:white;
    padding:10px 20px 15px 20px;;
    border-radius:5px;
}
.messagebox h4{width:100%;cursor:move;font-size:14px;margin:0 auto;height:35px;line-height:35px;color:#333;border-bottom:1px solid #e6e6e6;}
.messagebox p{line-height:25px;font-size:14px;padding:25px 0;text-align:center;}
.message .content{width:86%;border-radius:5px;padding:15px;}

/*隐藏*/
.active{display:none;}

/*em字体不倾斜*/
em{font-style:normal;}
/*蓝色span*/
.colorspan{
  color:#00a0ea;
}
a:focus{outline:0;}